ppisp @ git+https://github.com/nv-tlabs/ppisp@v1.0.1
# NCore dataset support (https://github.com/NVIDIA/ncore)
nvidia-ncore>=19.0.0
simplejpeg
# formatter
black==26.3.1
isort==5.13.0
# graphics user interfaces
polyscope>=2.3.0
viser
